workflows/sales/Real Estate Lead Qualifier with OpenAI, Gmail & Airtable CRM.json
{
  "name": "SALES_Qualify Real Estate Leads Automatically with OpenAI, Gmail & Airtable CRM",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Property Form",
        "formDescription": "Fill the form to buy!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Budget Range",
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Location",
              "requiredField": true
            },
            {
              "fieldLabel": "Purchase Timeline",
              "requiredField": true
            },
            {
              "fieldLabel": "Property Type",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "5d431bce-7614-4890-a72a-625d7565c89b",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        768,
        512
      ],
      "webhookId": "6a3bc9b4-7cd8-4e0d-bf61-d241e3e077ef",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "f69f0530-4554-4911-99bb-85d9cabd512c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        944,
        768
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "text": "=You are a real estate assistant. Based on the input, classify the lead quality, extract structured info, and give a lead score (0-100).\n\nInput:\nName: {{ $json['Full Name'] }}\nEmail: {{ $json.Email }}\nBudget: {{ $json['Budget Range'] }}\nLocation: {{ $json['Preferred Location'] }}\nTimeline: {{ $json['Purchase Timeline'] }}\nProperty Type: {{ $json['Property Type'] }}\n\nInstructions:\n- Parse the budget into numeric range\n- Estimate urgency from timeline\n- Score lead (0-100) based on high budget, urgency, and location being Sydney\n- Return JSON like:\n{\n  \"name\": \"...\",\n  \"email\": \"...\",\n  \"budget_min\": ...,\n  \"budget_max\": ...,\n  \"location\": \"...\",\n  \"timeline\": \"...\",\n  \"urgency\": \"high | medium | low\",\n  \"score\": ...,\n  \"qualified\":",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"budget_min\": \"\",\n  \"budget_max\": \"\",\n  \"location\": \"\",\n  \"timeline\": \"\",\n  \"urgency\": \"high | medium | low\",\n  \"score\": \"\"\n}",
        "options": {}
      },
      "id": "1ef89976-db25-463c-83e1-5849aefd27e8",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        992,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "79c024d4-0727-4b53-bc8a-d87502b4cefd",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.qualified }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "384abf4b-6f25-451d-b0ee-b6089a2a7251",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1584,
        512
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c199e2d3-6202-4db7-8912-be72a411b484",
              "name": "qualified",
              "type": "boolean",
              "value": "={{ $json[\"output\"][\"score\"] >= 70 }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "45c42d95-ffe3-4aae-b4ff-77bfaf83bd32",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1360,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "sendTo": "email",
        "subject": "🔥 NEW QUALIFIED LEAD",
        "message": "=Name: {{ $('Information Extractor').item.json.output.name }}\nEmail: {{ $('Information Extractor').item.json.output.email }}\nLocation: {{ $('Information Extractor').item.json.output.location }}\nBudget: {{ $('Information Extractor').item.json.output.budget_min }}\nTimeline: {{ $('Information Extractor').item.json.output.timeline }}\nScore: {{ $('Information Extractor').item.json.output.score }}",
        "options": {}
      },
      "id": "745a47a0-47ae-40e1-988c-dc2d6493ba88",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1888,
        272
      ],
      "webhookId": "3c05319c-15b1-4caf-9fe5-f5db4dba9070",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "value": {
            "Name": "={{ $('Information Extractor').item.json.output.name }}",
            "Email": "={{ $('Information Extractor').item.json.output.email }}",
            "Score": "={{ $('Information Extractor').item.json.output.score }}",
            "budget": "={{ $('Information Extractor').item.json.output.budget_min }}",
            "Location": "={{ $('Information Extractor').item.json.output.location }}",
            "Timeline": "={{ $('Information Extractor').item.json.output.timeline }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "budget",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Timeline",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Timeline",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "938a489a-e785-40e9-9b2c-93503423ab4c",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1856,
        768
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Flow",
        "height": 220,
        "width": 1100
      },
      "id": "bc72a77a-99ea-48d3-b5ea-11ed0d942cd3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CRM",
        "height": 220,
        "width": 260,
        "color": 4
      },
      "id": "6be7b903-9375-45a1-b678-b72a17769468",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Follow Up",
        "height": 220,
        "width": 260,
        "color": 5
      },
      "id": "f12e0a18-e41e-4b79-8449-795e8750a805",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Agent Leads Processor\n\n **How to Set Up**  \n1. Replace the form with your own (Typeform/Google Form/etc.)  \n2. Link your OpenAI key and Gmail account  \n3. Connect your Airtable base  \n4. Activate the workflow  \n5. Test by submitting a dummy lead\n",
        "height": 232,
        "width": 360,
        "color": 4
      },
      "id": "70cecac6-50ea-4046-bb53-20553ea87f7a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        192
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8546acef-0e0b-4162-b694-0e5846bb2bd2",
  "meta": {
    "templateId": "5428",
    "instanceId": "90875c0b34110a5edc13bdc717d28e4261485f1f1cbd289446549db71e3e1568"
  },
  "id": "MzIRk5mtcC5jsWDc",
  "tags": [
    {
      "createdAt": "2025-09-02T12:52:44.713Z",
      "updatedAt": "2025-09-02T12:52:44.713Z",
      "id": "twfHZLftaxk54cPj",
      "name": "Create and Setup"
    },
    {
      "name": "Downloaded",
      "id": "i1zTjEOsmVWLFM9n",
      "createdAt": "2025-09-06T03:01:37.278Z",
      "updatedAt": "2025-09-06T03:01:37.278Z"
    }
  ]
}