workflows/sales/Smart AI-Powered Lead Research and Outreach Agent.json
{
  "name": "SALES_AI-Powered Lead Research & Personalized Email Generation with OpenAI & Google Sheets",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f9f45046-3aac-41f1-939d-3269646e542f",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"Hasil Riset\"] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "aef4dd12-816e-4017-a951-dc2c6a0b8a1e",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        604
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get latest news/description on topic that user want to reseaarch",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "id": "3205240f-3653-4e0d-a638-2044a4a0a253",
      "name": "Search Internet1",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "position": [
        1464,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert business analyst. Your task is to research the company: {{ $json.Perusahaan }}.\n\nYour output must be a comprehensive description that identifies the company's name, its core business, and potential opportunities for improving efficiency and effectiveness by implementing AI solutions.\n\nUse the 'Search Internet' tool to gather the latest information.\n\nStrictly base your analysis on the data found through the internet search. Do not hallucinate or invent information.\n\nYour final output must be only the text description. Do not include any introductory sentences or greetings.",
        "options": {}
      },
      "id": "6e9e4bcc-a713-421c-bac6-2901ca810723",
      "name": "Company Research1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1328,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk",
          "cachedResultName": "Leads To Sales"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=0",
          "cachedResultName": "Leads"
        },
        "columns": {
          "value": {
            "Status": "Leads",
            "Perusahaan": "={{ $('If1').item.json.Perusahaan }}"
          },
          "schema": [
            {
              "id": "Nama",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Nama",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Jabatan",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Jabatan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Perusahaan",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Perusahaan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Hasil Riset",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Hasil Riset",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send Email Perkenalan",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Send Email Perkenalan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Kirim email",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Kirim email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Perkenalan",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Respon Email Perkenalan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send email Follow up 1",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Send email Follow up 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Follow up 1",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Respon Email Follow up 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send email Follow up 2",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Send email Follow up 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Follow up 2",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Respon Email Follow up 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Perusahaan"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c075d4d7-ac55-4a4b-884e-67138d50a0c4",
      "name": "updateStatus",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1904,
        480
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk",
          "cachedResultName": "Leads To Sales"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=0",
          "cachedResultName": "Leads"
        },
        "columns": {
          "value": {
            "Perusahaan": "={{ $('If1').item.json.Perusahaan }}",
            "Hasil Riset": "={{ $json.output }}"
          },
          "schema": [
            {
              "id": "Nama",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Nama",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Jabatan",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Jabatan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Perusahaan",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Perusahaan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Hasil Riset",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Hasil Riset",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send Email Perkenalan",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Send Email Perkenalan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Kirim email",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Kirim email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Perkenalan",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Respon Email Perkenalan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send email Follow up 1",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Send email Follow up 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Follow up 1",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Respon Email Follow up 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send email Follow up 2",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Send email Follow up 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Follow up 2",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Respon Email Follow up 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Perusahaan"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a22f8ce1-bf68-408a-ba00-7f1ac83a7211",
      "name": "updateDescription",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1680,
        480
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk",
          "cachedResultName": "Leads To Sales"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 102550433,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=102550433",
          "cachedResultName": "Template"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Tahap",
              "lookupValue": "={{ $json.Status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89dd2953-8fe2-4798-879f-d92d1eb77c4d",
      "name": "getTemplate",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2128,
        480
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"emailSubject\":\"Subject email \",\n    \"emailBody\": \"body email lengkap\"\n}"
      },
      "id": "eb74fb86-f67d-474b-a021-1077e6f7fa99",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2832,
        704
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk",
          "cachedResultName": "Leads To Sales"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "=gid=0"
        },
        "columns": {
          "value": {
            "Perusahaan": "={{ $('If1').item.json.Perusahaan }}",
            "Send Email Perkenalan": "={{ $json.output }}"
          },
          "schema": [
            {
              "id": "Nama",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Nama",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Jabatan",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Jabatan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Perusahaan",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Perusahaan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Hasil Riset",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Hasil Riset",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send Email Perkenalan",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Send Email Perkenalan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Kirim email",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Kirim email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Perkenalan",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Respon Email Perkenalan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send email Follow up 1",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Send email Follow up 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Follow up 1",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Respon Email Follow up 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send email Follow up 2",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Send email Follow up 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Follow up 2",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Respon Email Follow up 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Perusahaan"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2dde3089-fb2a-4c20-a19a-ee75f250aebd",
      "name": "draftEmail",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3040,
        480
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {},
      "id": "b2e44f4b-50f3-4bb6-9d60-ac6787f8c1b0",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        432,
        604
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk",
          "cachedResultName": "Leads To Sales"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=0",
          "cachedResultName": "Leads"
        },
        "options": {}
      },
      "id": "65a91454-d953-4a14-b115-012cc5af41bb",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        656,
        604
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Pxe0njBzfyqNDz4T",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk",
          "cachedResultName": "Leads To Sales"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=0",
          "cachedResultName": "Leads"
        },
        "columns": {
          "value": {
            "Perusahaan": "={{ $('If1').item.json.Perusahaan }}",
            "Kirim email": "=https://n8n-brccptxv.ap-southeast-1.clawcloudrun.com/webhook/18169b76-7b07-4fce-95c4-7e5bb6244ed1/send-email/{{ $json.perusahaan_url_encoded }}"
          },
          "schema": [
            {
              "id": "Nama",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Nama",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Jabatan",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Jabatan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Perusahaan",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Perusahaan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Hasil Riset",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Hasil Riset",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send Email Perkenalan",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Send Email Perkenalan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Kirim email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Kirim email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Perkenalan",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Respon Email Perkenalan",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send email Follow up 1",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Send email Follow up 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Follow up 1",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Respon Email Follow up 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Send email Follow up 2",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Send email Follow up 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Respon Email Follow up 2",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Respon Email Follow up 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Perusahaan"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9ee78456-5839-48b5-a89d-1bc1855e6607",
      "name": "inputLink",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3488,
        604
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "jsCode": "// Array untuk menampung hasil yang akan dikirim ke node selanjutnya\nconst outputItems = [];\n\n// Loop melalui setiap item yang masuk dari node sebelumnya\nfor (const item of items) {\n  try {\n    // 1. Ambil nama perusahaan dari object JSON\n    // Pastikan key 'Perusahaan' ada di dalam data Anda\n    const namaPerusahaan = item.json.Perusahaan;\n\n    // 2. Lakukan replace spasi dengan '%20'\n    // Menggunakan encodeURIComponent() adalah cara yang paling tepat dan aman\n    // untuk mempersiapkan string sebagai bagian dari URL.\n    // Ini tidak hanya mengganti spasi, tapi juga karakter spesial lainnya.\n    const namaPerusahaanEncoded = encodeURIComponent(namaPerusahaan);\n\n    // Alternatif jika Anda HANYA ingin mengganti spasi:\n    // const namaPerusahaanEncoded = namaPerusahaan.replace(/ /g, '%20');\n\n    // 3. Buat object baru untuk output\n    // Anda bisa menyertakan data asli jika perlu dengan '...item.json'\n    const outputData = {\n      ...item.json, // Menyalin semua data asli\n      perusahaan_url_encoded: namaPerusahaanEncoded // Menambahkan field baru dengan hasil replace\n    };\n\n    // Tambahkan hasil ke dalam array output\n    outputItems.push({ json: outputData });\n\n  } catch (error) {\n    // Jika terjadi error (misalnya key 'Perusahaan' tidak ditemukan),\n    // teruskan item tersebut tanpa perubahan untuk menghindari workflow berhenti.\n    outputItems.push(item);\n  }\n}\n\n// Kembalikan semua item yang telah diproses untuk digunakan oleh node selanjutnya\nreturn outputItems;"
      },
      "id": "20ca4e42-14f9-4393-92d4-32c6da0ba6c9",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        3264,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get latest news/description on topic that user want to reseaarch",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "id": "781e118b-7062-4f1c-aeb3-a025f9740844",
      "name": "Search Internet2",
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "position": [
        2704,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dfab319e-a76d-4c72-a0e9-6d8120efc0f5",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1104,
        604
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit?usp=drivesdk",
          "cachedResultName": "Leads To Sales"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1197995458,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nYii2KQDrKZNUPbLJ6r2ogNnGGZggJOJR6b6CGM3slY/edit#gid=1197995458",
          "cachedResultName": "List Product"
        },
        "options": {}
      },
      "id": "256aaaca-a8a1-4499-bdbc-650137550b8a",
      "name": "getService",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2352,
        480
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert AI Sales Assistant, tasked with drafting a personalized and relevant email based on the provided data and additional research.\n\n1. PRIMARY CONTEXT (Based on Provided Data):\nSender's Company: Ainabler.com (IT consulting firm specializing in AI & Automation).\nSender's Name: Hanif R (Technical Sales).\nTarget Company: {{ $('If1').item.json.Perusahaan }}\nTarget Recipient: {{ $('If1').item.json.Nama }}\nRecipient's Position: {{ $('If1').item.json.Jabatan }}\nSales Stage: {{ $('getTemplate').item.json.Tahap }}\nMain Email Theme: {{ $('getTemplate').item.json.Tema }}\nKey Information: {{ $('Company Research1').item.json.output }}\nSample Message (For inspiration, not a rigid template): {{ $('getTemplate').item.json['Contoh message'] }}\nToday's Date: {{ $now }}\n\n2. ADDITIONAL RESEARCH TASK (Use Search Internet2):\nBefore writing the email, use Search Internet2 to find one or two recent facts/statistics (from 2024-2025) relevant to the recipient's position and their industry. The goal is to add a strong, data-driven 'hook' to make the email opening compelling.\nExample Research Direction: Based on the position '{{ $('If1').item.json.Jabatan }}', formulate a smart search query.\n- If the position is related to ESG, search for: \"ESG reporting challenges Indonesian banking 2025\"\n- If the position is related to Digital/Operations, search for: \"AI adoption statistics in Southeast Asia financial sector\"\n\n3. FINAL TASK: DRAFT THE EMAIL\nUse ALL the information above (Primary Context + Additional Research) to create one email draft.\n- Personalization: Mention the recipient's company name and position to show this is not a mass email.\n- Relevance: Connect the industry challenges (discovered from your research) with the solutions offered by Ainabler.com.\n- Value Proposition: Craft a natural and seamless offer based on our services and the target's business line. Adapt from the sample message, but do not be rigid.\n- Call to Action: Propose a brief discussion to explore possibilities.\n\n4. OUTPUT FORMAT (MANDATORY):\nYour final response MUST be a single, valid JSON object. Do not include any text, introductions, or closings outside of this JSON object.\n\n{\n  \"emailSubject\": \"A compelling and specific email subject\",\n  \"emailBody\": \"The complete, personalized, and relevant email body.\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "0d809625-af14-4e3f-9a43-dcebb36d3100",
      "name": "AI Sales Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2632,
        480
      ],
      "executeOnce": true,
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        784
      ],
      "id": "f3528aab-165d-4340-b97e-93b33de9eba1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ldjRQxJmOvT8B3NM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2496,
        688
      ],
      "id": "dfa18fe3-687a-4015-9b0d-e0e00dc89e4b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ldjRQxJmOvT8B3NM",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "inputLink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputLink": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "draftEmail": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getService": {
      "main": [
        [
          {
            "node": "AI Sales Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getTemplate": {
      "main": [
        [
          {
            "node": "getService",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateStatus": {
      "main": [
        [
          {
            "node": "getTemplate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Company Research1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Internet1": {
      "ai_tool": [
        [
          {
            "node": "Company Research1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Internet2": {
      "ai_tool": [
        [
          {
            "node": "AI Sales Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Company Research1": {
      "main": [
        [
          {
            "node": "updateDescription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateDescription": {
      "main": [
        [
          {
            "node": "updateStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Sales Assistant": {
      "main": [
        [
          {
            "node": "draftEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Sales Assistant",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Company Research1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sales Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b75d32a5-8f71-491f-a729-974cdece65cf",
  "meta": {
    "templateId": "5938",
    "instanceId": "90875c0b34110a5edc13bdc717d28e4261485f1f1cbd289446549db71e3e1568"
  },
  "id": "kPBid3clZsMN6QZk",
  "tags": []
}