workflows/sales/Upwork Lead Finder_ Extract Client Emails with LinkedIn Scraping and AI.json
{
  "name": "SALES_Upwork Lead Generation: Extract Client Emails with LinkedIn Scraping and AI",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "aa72ce26-28ae-4dab-982f-be16fa123d87",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2608,
        2800
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "94fba561-bc7e-4180-9b5d-beb9482b28b6",
      "name": "Run Every X Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2192,
        2592
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/actor-tasks/<TASK_ID>/run-sync-get-dataset-items?token=<API_TOKEN>",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "603403fa-6f4b-4124-90ee-f852954e67a4",
      "name": "Fetch Latest Upwork Jobs (Apify)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2416,
        2592
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.title }}\nDescription: {{ $json.description }}",
        "options": {
          "systemMessage": "\"Extract the client's name or company name if it is mentioned. Return only the name or 'null' if not found.\""
        }
      },
      "id": "0ed2ab83-1fcb-459c-aa6d-ef81c8414b45",
      "name": "Extract Company or Person Name from Job",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2640,
        2592
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7366a7c6-e767-4aea-96e1-0cbbcbb26100",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "null"
            }
          ]
        },
        "options": {}
      },
      "id": "ccd6cf3c-2666-45eb-8dc3-6575180c897b",
      "name": "Name is Found?",
      "type": "n8n-nodes-base.if",
      "position": [
        2992,
        2592
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "c9721e93-707d-45c1-a06b-68606157f995",
      "name": "No Name Found - End Early",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3440,
        2768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "\"Extract the client's name or company name. Return only the 'person' if looks like a person's name if not return 'company'.\"\n"
        }
      },
      "id": "4164b6e9-9ba7-4fc6-a1b6-c976f626aea5",
      "name": "Is It a Person or Company?",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3376,
        2480
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "729e7baa-ae94-4661-a061-7d656faf820f",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "company"
            }
          ]
        },
        "options": {}
      },
      "id": "93c7b341-6257-4ee2-a54f-ecbfcdf0f89b",
      "name": "Person or Company?",
      "type": "n8n-nodes-base.if",
      "position": [
        3728,
        2480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/<AGENT_ID>/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key-1",
              "value": "<YOUR_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"argument\": {\n    \"search\": {{ $json.output }},\n    \"numberOfProfiles\": 5,\n    \"sessionCookie\": \"<LINKEDIN_SESSION_COOKIE>\"\n  },\n  \"saveArguments\": true\n}",
        "options": {}
      },
      "id": "7dcacf79-eb65-454c-97fd-16ea6aed2f94",
      "name": "Search LinkedIn for Company (Phantombuster)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4160,
        2320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/<AGENT_ID>/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key-1",
              "value": "<YOUR_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"argument\": {\n    \"spreadsheetUrl\": {{ $json.profileUrl }},\n    \"sessionCookie\": \"<LINKEDIN_SESSION_COOKIE>\"\n  },\n  \"saveArguments\": true\n}",
        "options": {}
      },
      "id": "e2f7db77-373e-462a-bc57-57653e067e30",
      "name": "Scrape LinkedIn Company Profile",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4368,
        2320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search?domain{{ $json.website }}=&api_key=<YOUR_API_KEY>",
        "options": {}
      },
      "id": "14d7f669-dbc1-484e-b3c0-3d1e83d4c74f",
      "name": "Find Company Email (Hunter.io)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4592,
        2320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/<AGENT_ID>/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key-1",
              "value": "<YOUR_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"argument\": {\n    \"search\": {{ $json.output }},\n    \"numberOfProfiles\": 3,\n    \"sessionCookie\": \"<LINKEDIN_SESSION_COOKIE>\"\n  },\n  \"saveArguments\": true\n}",
        "options": {}
      },
      "id": "4fd05ce5-495e-4d3a-8998-3120c3456e57",
      "name": "Search LinkedIn for Person (Phantombuster)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4256,
        2832
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/<AGENT_ID>/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key-1",
              "value": "<YOUR_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"argument\": {\n    \"spreadsheetUrl\": {{ $json.profileUrl }},\n    \"sessionCookie\": \"<LINKEDIN_SESSION_COOKIE>\"\n  },\n  \"saveArguments\": true\n}",
        "options": {}
      },
      "id": "f048e198-cc4b-4739-be7d-d3d885c6d2bb",
      "name": "Scrape LinkedIn Person Profile",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4464,
        2832
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/email-finder?domain={{ $json.fullName }}=Ali%20Raza&api_key=<YOUR_API_KEY>",
        "options": {}
      },
      "id": "dbc8c317-b469-4125-b939-614524a0339b",
      "name": "Find Personal Email (Hunter.io)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4688,
        2832
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "047146a8-2b02-4098-a0e9-f8366c42aa4f",
      "name": "Store Results in Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4960,
        2464
      ],
      "typeVersion": 4.5
    }
  ],
  "pinData": {},
  "connections": {
    "Name is Found?": {
      "main": [
        [
          {
            "node": "Is It a Person or Company?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Name Found - End Early",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Company or Person Name from Job",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Is It a Person or Company?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Run Every X Hours": {
      "main": [
        [
          {
            "node": "Fetch Latest Upwork Jobs (Apify)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Person or Company?": {
      "main": [
        [
          {
            "node": "Search LinkedIn for Company (Phantombuster)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search LinkedIn for Person (Phantombuster)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is It a Person or Company?": {
      "main": [
        [
          {
            "node": "Person or Company?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Company Email (Hunter.io)": {
      "main": [
        [
          {
            "node": "Store Results in Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Person Profile": {
      "main": [
        [
          {
            "node": "Find Personal Email (Hunter.io)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Personal Email (Hunter.io)": {
      "main": [
        [
          {
            "node": "Store Results in Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LinkedIn Company Profile": {
      "main": [
        [
          {
            "node": "Find Company Email (Hunter.io)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Latest Upwork Jobs (Apify)": {
      "main": [
        [
          {
            "node": "Extract Company or Person Name from Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Company or Person Name from Job": {
      "main": [
        [
          {
            "node": "Name is Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search LinkedIn for Person (Phantombuster)": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Person Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search LinkedIn for Company (Phantombuster)": {
      "main": [
        [
          {
            "node": "Scrape LinkedIn Company Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d5d270d-f29e-4ddc-a0df-8f940be7ac2a",
  "meta": {
    "templateId": "4794",
    "instanceId": "90875c0b34110a5edc13bdc717d28e4261485f1f1cbd289446549db71e3e1568"
  },
  "id": "SupwUI7hQyH9Pzwx",
  "tags": [
    {
      "createdAt": "2025-09-02T12:52:44.713Z",
      "updatedAt": "2025-09-02T12:52:44.713Z",
      "id": "twfHZLftaxk54cPj",
      "name": "Create and Setup"
    },
    {
      "name": "Downloaded",
      "id": "i1zTjEOsmVWLFM9n",
      "createdAt": "2025-09-06T03:01:37.278Z",
      "updatedAt": "2025-09-06T03:01:37.278Z"
    }
  ]
}