workflows/devops/N8N Workflow Error Catcher.json
{
  "name": "DEVOPs_Workflows-Error-Notification",
  "nodes": [
    {
      "parameters": {},
      "id": "aa84d631-c14f-45c2-a659-454605e83c30",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        448,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=⚠️ Workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! [execution]({{ $json.execution.url }})"
            }
          ]
        },
        "options": {}
      },
      "id": "abffce17-cc93-4c6a-8955-de2d0f4cc885",
      "name": "Set message",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 👨‍🎤 Setup\n1. Add Telegram creds\n2. Set chat id in **Telegram** node\n2. Add this error workflow to other workflows\nhttps://docs.n8n.io/flow-logic/error-handling/#create-and-set-an-error-workflow",
        "height": 154.7766688696994,
        "width": 424.4907862645661,
        "color": 5
      },
      "id": "1e5c4af6-30ae-45b8-bca7-048a656ce9bd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "1688282582",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "845ddf26-2d40-4cc6-843b-ccb3b365fbfb",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        928,
        448
      ],
      "typeVersion": 1.1,
      "webhookId": "105b03a7-7702-436a-82e6-a6cd0a7c0886"
    },
    {
      "parameters": {
        "content": "### 👆🏽 Set chat id here",
        "height": 80,
        "width": 241
      },
      "id": "90db96b8-0e43-4977-b455-3e6813211640",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        624
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "On Error": {
      "main": [
        [
          {
            "node": "Set message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1afe4bf-3bbd-4c92-8b1b-b878c62573ea",
  "meta": {
    "templateId": "2159",
    "instanceId": "90875c0b34110a5edc13bdc717d28e4261485f1f1cbd289446549db71e3e1568"
  },
  "id": "qpzbZw1dEoqtuYeB",
  "tags": [
    {
      "createdAt": "2025-09-02T12:52:44.713Z",
      "updatedAt": "2025-09-02T12:52:44.713Z",
      "id": "twfHZLftaxk54cPj",
      "name": "Create and Setup"
    },
    {
      "name": "Downloaded",
      "id": "i1zTjEOsmVWLFM9n",
      "createdAt": "2025-09-06T03:01:37.278Z",
      "updatedAt": "2025-09-06T03:01:37.278Z"
    }
  ]
}